<main class="ilustration">
  <div
    class="wrapper grid grid-cols-2 items-center pt-11 justify-center gap-24"
  >
    <article>
      <h1 class="text-6xl font-bold text-titles mb-6">
        Seu marketplace <br />
        de coleta de resíduos.
      </h1>
      <h3 class="text-texts text-3xl mb-10">
        Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.
      </h3>
      <button
        class="flex items-center btn-green bg-green-100 "
      >
        <div
          class="bg-green-100 h-[72px] w-[72px] flex items-center justify-center rounded-tl-lg rounded-bl-lg"
        >
          <img src="assets/svg/search.svg" alt="" />
        </div>
        <button class="px-10">
          <span>Pesquisar pontos de coleta</span>
        </button>
      </button>
    </article>
    <article>
      <img class="w-full 2xl:w-10/12" src="assets/svg/pessoinhas.svg" alt="" />
    </article>
  </div>
</main>
